<!DOCTYPE html>
<html>
<head>
	<title> Django Board </title>
	<meta charset="utf-8">
	<style>
		a{text-decoration:none}
	</style>
</head>
<body>
<center>
<font color='gray' size='4' face='휴먼편지체'>
<hr width='600' size='2' color='gray' noshade>
<h3> Django Board</h3>
<font color='gray' size='4' face='휴먼편지체'>
<a href='../'>인덱스</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href='../b_write/'>글쓰기</a><br/>
</font>
<hr width='600' size='2' color='gray' noshade>

<TABLE border='2' width='600' align='center' noshade>
<TR size='2' align='center' noshade bgcolor='AliceBlue'>
	<th bgcolor='AliceBlue'>no</th>
	<th color='gray'>writer</th>
	<th color='gray'>e-mail</th>
	<th color='gray'>subject</th>
	<th color='gray'>date</th>
</TR>
	{% for board in boards %}
    <TR align='center' noshade>
		<TD>{{board.id}}</TD>
		<TD>{{board.writer}}</TD>
		<TD>{{board.email}}</TD>
	    <TD>
	      <a href="b_content/{{board.id}}">
		    {{board.subject}}
		  </a>
		</TD>
		<TD>{{board.rdate}}</TD>
	   </TR> 
	{% endfor %}
</TABLE>


<hr width='600' size='2' color='gray' noshade>
<font color='gray' size='3' face='휴먼편지체'>
    (총페이지수 : {{boards.paginator.num_pages}})
    &nbsp;&nbsp;&nbsp;
	{% for page_number in boards.paginator.page_range %}
        <a href="../b_list{{pg}}/?page={{page_number}}">  
                	<strong>{{page_number}}</strong>
    	</a>&nbsp;
	{% endfor %}
    
    ( TOTAL : {{num}} )
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       페이지 싸이즈 : 
    <select id="psId" name="ps" onchange="f(this)">
    		   <option value="3" {{select3}}>3</option>
		       <option value="5" {{select5}}>5</option>
		       <option value="10"  {{select10}}>10</option>
    </select>
    
    <script language="javascript">
       function f(select){
           //var el = document.getElementById("psId");
           var ps = select.value;
           //alert("ps : " + ps);
           location.href="../b_list"+ps;
       }
    </script>
    
</font>
<hr width='600' size='2' color='gray' noshade>

   
</center>
</body>
</html>