<script language='javascript'>
    //alert({{result}});
    /*
    if ({{result}} == 0){
        alert("로긴실패!! (회원 아이디가 존재하지 않음)");
    }else if({{result}} == 1){
        alert("로긴실패!! (비밀번호가 틀렸음)");
    }
    else{
        alert("로긴성공!!");
    } 
    */
    switch({{result}}){
        case 0:
            alert("로긴실패!! (회원 아이디가 존재하지 않음)");
            break;
        case 1:
            alert("로긴실패!! (비밀번호가 틀렸음)");
            break;
        case 2:
            alert("로긴성공!!");
    }
    location.href = "../../"
</script>